<!DOCTYPE html>
	<head>
		<style>
			.inp{
				width:400px;
				height:40px;
			}
			.sub{
				width:100px;
				height:35px;
				cursor:pointer;
			}
		</style>
	</head>
	<body>
	  <form action='{:U("Admin/Pinlv/doEdit")}' method="post">
	  
		&nbsp;&nbsp;&nbsp;名　称：<input type="text"  placeholder="请填写名称" name="name" class="inp" value="<php>echo $list['usep_name'];</php>"><br/><br/><br/>
		
		<input type="hidden" name="id" value="<php>echo $list['usep_code'];</php>">
		<center><input type="reset" value="重置" class="sub">&nbsp;&nbsp;&nbsp;<input type="submit" value="提交" class="sub"></center>
	</body>
</html>