<include file="Layout/header"/>

<header class="navbar-wrapper">
	<div class="navbar navbar-fixed-top">
		<div class="container-fluid cl">
			<a class="logo navbar-logo f-l mr-10 hidden-xs" href="#">中医健康后台管理</a>
			<a class="logo navbar-logo-m f-l mr-10 visible-xs" href="/aboutHui.shtml">H-ui</a>
			<span class="logo navbar-slogan f-l mr-10 hidden-xs">v2.0</span>

			<nav id="Hui-userbar" class="nav navbar-nav navbar-userbar hidden-xs">
				<ul class="cl">
					<li>{$Think.session.uname}</li>
					<li><a href="{:U('Admin/Public/loginout')}">退出</a></li>
				</ul>
			</nav>
		</div>
	</div>
</header>
<aside class="Hui-aside">
	<input runat="server" id="divScrollValue" type="hidden" value=""/>
	<div class="menu_dropdown bk_2" id="menu_nav">
		<foreach name="menus" item="item" key="key" >
			<dl>
				<dt class="selected menu_id" data-id="{$key}">
					<i class="Hui-iconfont {$item.icon}"></i>

					<notempty name="item.sub">
						{$item.name}
						<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i>
						<else />
						<a href="" style="text-decoration: none;">{$item.name}</a>
					</notempty>

				</dt>
				<notempty name="item.sub">
					<dd>
						<ul>
							<foreach name="item.sub" item="value" key="k" >
								<li class="menu_id" data-id="{$k}">
									<a _href="{:U($value['route'])}" data-title="{$value.name}" href="javascript:;">{$value.name}</a>
								</li>
							</foreach>
						</ul>
					</dd>
				</notempty>
			</dl>
		</foreach>
	</div>
</aside>
<div class="dislpayArrow hidden-xs">
	<a class="pngfix" href="javascript:;" onClick="displaynavbar(this)"></a>
</div>
<section class="Hui-article-box">
	<div id="iframe_box" class="Hui-article">
		<div class="show_iframe">
			<div style="display:none" class="loading"></div>
			<iframe scrolling="yes" frameborder="0" src="{:U('Admin/Index/welcome')}"></iframe>
		</div>
	</div>
</section>

<include file="Layout/footer"/>