<include file="Layout/header"/>
</head>
<body>
<article class="page-container">
    <form class="form form-horizontal" id="form-admin-add" action="{:U('Admin/Yaopinxm/edit')}" method="post">
        
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>代码</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="{$data.0.dwdm}" placeholder="代码" name="dwdm">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>名称</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="{$data.0.dw}" placeholder="名称" name="dw">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>类别</label>
            <div class="formControls col-xs-8 col-sm-9">
                <select name="lb">
                  <option value ="01">药品剂量单位</option>
                  <option value ="02">药品包装单位</option>
                  <option value="03">其他单位</option>
                </select>
            </div>
        </div>
       <input type="hidden" value="{$data.0.id}" name='id'>
        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                <button  class="btn btn-primary radius" type="submit"><i class="Hui-iconfont">&#xe632;</i> 修改</button>
                <button onClick="layer_close();" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
            </div>
        </div>
    </form>
</article>
<include file="Layout/footer"/>