<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>体质辨识</title>
    <link rel="stylesheet" href="__PUBLIC__/muban/assets/css/bootstrap.css">
    <link rel="stylesheet" href="__PUBLIC__/css/font.css">
    <link rel="stylesheet" href="__PUBLIC__/css/tizhi.css">
    <script type="text/javascript" src="__PUBLIC__/muban/assets/js/jquery.js"></script>
    <script type="text/javascript" src="__PUBLIC__/muban/assets/js/bootstrap.js"></script>
    <script src="__PUBLIC__/admin/lib/layer/2.1/layer.js"></script>
</head>
<script language=javascript>
//    打印功能JS
    function preview(oper)
    {
        if (oper < 10){
            bdhtml=window.document.body.innerHTML;//获取当前页的html代码
            sprnstr="<!--startprint"+oper+"-->";//设置打印开始区域
            eprnstr="<!--endprint"+oper+"-->";//设置打印结束区域
            prnhtml=bdhtml.substring(bdhtml.indexOf(sprnstr)+18); //从开始代码向后取htm
            prnhtml=prnhtml.substring(0,prnhtml.indexOf(eprnstr));//从结束代码向前取html
            window.document.body.innerHTML=prnhtml;
            window.print();
            window.document.body.innerHTML=bdhtml;
        }
        else {
            window.print();
        }
    }
</script>
<body  oncontextmenu=self.event.returnValue=false onselectstart="return false">
<div id="judge" style="display:none;">{$res1.tzname}</div>
<div id="flag" style="display:none;">{$flag}</div>
<div id="saveYN" style="display:none;">{$save}</div>
<div id="dati" style="display:none;">{$dati}</div>
<form action="{:U('Index/tizhiSub')}" method="post" id="form1">
    <div class="bg">
    <div class="xxk">
        <ul id="myTab" class="nav nav-tabs">
            <li class="active">
                <a href="#home" data-toggle="tab" id="luru">
                    录入基本项目
                </a>
            </li>
            <li><a href="#res" data-toggle="tab" id="checkRes">查看结果</a></li>
        </ul>
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade in active" id="home">
                <!--题目-->
                <div class="tab-content" id="myTi">
                    <!--第一题-->
                    <volist name="ti" id="tm">
                    <if condition="$tm.id eq 1">
                        <div class="ti tab-pane fade in active" id='ti{$tm.id}'>
                        <else />
                        <div class="ti tab-pane fade" id='ti{$tm[id]}'>
                    </if>
                        <div class="ti-title">
                            {$tm.ques}
                        </div>
                        <div class="ti-content">
                            <!--判断是否选中-->
                            <!--<div>{$userCheckedInf.xx$tm[id]}</div>-->
                            <?php
                                $aa=xx.$tm[id];
                                if($userCheckedInf[$aa]==1){
                                    echo "<label><input type='radio' name='xx".$tm[id]."' value='1' checked><span>".$tm[check1]."</span></label>";
                                }else{
                                    echo "<label><input type='radio' name='xx".$tm[id]."' value='1'><span>".$tm[check1]."</span></label>";
                                }if($userCheckedInf[$aa]==2){
                                    echo "<label><input type='radio' name='xx".$tm[id]."' value='2' checked><span>".$tm[check2]."</span></label>";
                                }else{
                                    echo "<label><input type='radio' name='xx".$tm[id]."' value='2'><span>".$tm[check2]."</span></label>";
                                }if($userCheckedInf[$aa]==3){
                                    echo "<label><input type='radio' name='xx".$tm[id]."' value='3' checked><span>".$tm[check3]."</span></label>";
                                }else{
                                    echo "<label><input type='radio' name='xx".$tm[id]."' value='3'><span>".$tm[check3]."</span></label>";
                                }if($userCheckedInf[$aa]==4){
                                    echo "<label><input type='radio' name='xx".$tm[id]."' value='4' checked><span>".$tm[check4]."</span></label>";
                                }else{
                                    echo "<label><input type='radio' name='xx".$tm[id]."' value='4'><span>".$tm[check4]."</span></label>";
                                }if($userCheckedInf[$aa]==5){
                                    echo "<label><input type='radio' name='xx".$tm[id]."' value='5' checked><span>".$tm[check5]."</span></label>";
                                }else{
                                    echo "<label><input type='radio' name='xx".$tm[id]."' value='5'><span>".$tm[check5]."</span></label>";
                                }
                            ?>
                        </div>
                        <!--提示-->
                        <div class="prompt">
                            <div class="pro-title">选项提示</div>
                            <div class="pro-inf">
                                {$tm.prompt}
                            </div>
                        </div>
                    </div>
                    </volist>
                </div>
                <!--上下题-->
                <div class="updown">
                    <button type="button" class="but" id="syt">上一题</button>
                    <button type="button" id="xyt">下一题</button>
                </div>
                <!--题号-->
                <div class="tiNum">
                    <table class="nav nav-tabs" id="myTiContent">
                        <tr>
                            <volist name="ti1" id="tm1">
                                <if condition="$tm1.id eq 1">
                                    <td class="sty1" id="xx{$tm1.id}"><a href="#ti{$tm1.id}" data-toggle="tab">{$tm1.id}</a></td>
                                    <else/>
                                    <td class="sty2" id="xx{$tm1[id]}"><a href="#ti{$tm1.id}" data-toggle="tab">{$tm1.id}</a></td>
                                </if>
                            </volist>
                        </tr>
                        <tr>
                            <volist name="ti2" id="tm2">
                                <td class="sty2" id="xx{$tm2.id}"><a href="#ti{$tm2.id}" data-toggle="tab">{$tm2.id}</a></td>
                            </volist>
                        </tr>
                        <tr>
                            <volist name="ti3" id="tm3">
                                <td class="sty2" id="xx{$tm3.id}"><a href="#ti{$tm3.id}" data-toggle="tab">{$tm3.id}</a></td>
                            </volist>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="tab-pane fade" id="res">
                <!--报告-->
                <div class="report">
                    <div class="reportinf center">
                        <!--报告表单-->
                        <!--startprint1-->
                        <form action="{:U('Index/tizhi')}" method="post">

                            <div class="rep-title" style="text-align: center;text-align:center;padding-top:40px;font-size:28px;font-weight: bold;padding-bottom:25px;">中医体质辨识鉴定报告</div>
                            <div>
                                <table border="1" width="90%" class="center">
                                    <tr>
                                        <td width="6%">姓名</td>
                                        <td colspan="2" width="10%">{$res1.br_name}</td>
                                        <td width="5%">性别</td>
                                        <td width="5%">{$res1.xb}</td>
                                        <td width="5%">年龄</td>
                                        <td width="5%">{$res1.nl}</td>
                                        <td width="10%">日期</td>
                                        <td colspan="3" width="10%">{$res1.jz_date}</td>
                                    </tr>
                                    <tr>
                                        <td>身份证号</td>
                                        <td colspan="6">{$res1.pass}</td>
                                        <td>联系方式</td>
                                        <td colspan="3">{$res1.tel}</td>
                                    </tr>
                                    <tr>
                                        <td>工作单位</td>
                                        <td colspan="10">{$res1.dw}</td>
                                    </tr>
                                    <tr>
                                        <td rowspan="2">体质类型</td>
                                        <td colspan="2" id="pinghez">{$res1.tzname8}-{$res1.tzjg8}</td>
                                        <td colspan="2" id="qixuz">{$res1.tzname}-{$res1.tzjg}</td>
                                        <td colspan="2" id="yangxuz">{$res1.tzname1}-{$res1.tzjg1}</td>
                                        <td colspan="2" id="yinxuz">{$res1.tzname2}-{$res1.tzjg2}</td>
                                        <td colspan="2" id="tanshiz">{$res1.tzname3}-{$res1.tzjg3}</td>
                                    </tr>
                                    <tr>
                                        <td colspan="2" id="shirez">{$res1.tzname4}-{$res1.tzjg4}</td>
                                        <td colspan="2" id="xueyuz">{$res1.tzname5}-{$res1.tzjg5}</td>
                                        <td colspan="2" id="qiyuz">{$res1.tzname6}-{$res1.tzjg6}</td>
                                        <td colspan="2" id="tebingz">{$res1.tzname7}-{$res1.tzjg7}</td>
                                        <td colspan="2"></td>
                                    </tr>
                                </table>
                            </div>
                            <volist name="baoj" id="vo">
                                <?php
                                    $bj = M('tz_baojian');
                                    $name = substr($vo,0,9);
                                    $res2 = $bj -> where("tzname = '$name'") -> select();
                                ?>
                            <div class="rep-title1" style="font-size:16px;font-weight: bold;width:90%;margin:10px auto;">{$vo}</div>
                            <div class="rep-title1" style="font-size:16px;font-weight: bold;width:90%;margin:10px auto;">{$res2[0][title]}</div>
                            <div class="rep-inf" style="width:90%;margin:0px auto;text-indent:2em;">
                                <p>{$res2[0][content]}</p>
                            </div>
                            <div class="rep-title1" style="font-size:16px;font-weight: bold;width:90%;margin:10px auto;">{$res2[0][title1]}</div>
                            <div class="rep-inf" style="width:90%;margin:0px auto;text-indent:2em;">
                                <p>{$res2[0][content1]}</p>
                            </div>
                            <div class="rep-title1" style="font-size:16px;font-weight: bold;width:90%;margin:10px auto;">{$res2[0][title2]}</div>
                            <div class="rep-inf" style="width:90%;margin:0px auto;text-indent:2em;">
                                <p>{$res2[0][content2]}</p>
                            </div>
                            <div class="rep-title1" style="font-size:16px;font-weight: bold;width:90%;margin:10px auto;">{$res2[0][title3]}</div>
                            <div class="rep-inf" style="width:90%;margin:0px auto;text-indent:2em;">
                                <p>{$res2[0][content3]}</p>
                            </div>
                            <div class="rep-title1" style="font-size:16px;font-weight: bold;width:90%;margin:10px auto;">{$res2[0][title4]}</div>
                            <div class="rep-inf" style="width:90%;margin:0px auto;text-indent:2em;">
                                <p>{$res2[0][content4]}</p>
                            </div>
                            </volist>
                        </form><!--endprint1-->
                        <!--分类-->
                        <!--<button class="btn btn-success tztitle1" type="button">测试结果表</button>-->
                        <div class="tzstyle" style="height:300px;">
                            <table width="98%" border="1" bordercolor="#cccccc" class="center">
                                <tr>
                                    <td>体质分类</td>
                                    <td>总分</td>
                                    <td>测试结果</td>
                                </tr>
                                <tr>
                                    <td>{$res1.tzname8}</td>
                                    <td>{$res1.tzfs8}</td>
                                    <td>{$res1.tzjg8}</td>
                                </tr>
                                <tr>
                                    <td>{$res1.tzname}</td>
                                    <td>{$res1.tzfs}</td>
                                    <td>{$res1.tzjg}</td>
                                </tr>
                                <tr>
                                    <td>{$res1.tzname1}</td>
                                    <td>{$res1.tzfs1}</td>
                                    <td>{$res1.tzjg1}</td>
                                </tr>
                                <tr>
                                    <td>{$res1.tzname2}</td>
                                    <td>{$res1.tzfs2}</td>
                                    <td>{$res1.tzjg2}</td>
                                </tr>
                                <tr>
                                    <td>{$res1.tzname3}</td>
                                    <td>{$res1.tzfs3}</td>
                                    <td>{$res1.tzjg3}</td>
                                </tr>
                                <tr>
                                    <td>{$res1.tzname4}</td>
                                    <td>{$res1.tzfs4}</td>
                                    <td>{$res1.tzjg4}</td>
                                </tr>
                                <tr>
                                    <td>{$res1.tzname5}</td>
                                    <td>{$res1.tzfs5}</td>
                                    <td>{$res1.tzjg5}</td>
                                </tr>
                                <tr>
                                    <td>{$res1.tzname6}</td>
                                    <td>{$res1.tzfs6}</td>
                                    <td>{$res1.tzjg6}</td>
                                </tr>
                                <tr>
                                    <td>{$res1.tzname7}</td>
                                    <td>{$res1.tzfs7}</td>
                                    <td>{$res1.tzjg7}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="anniu">
                <button class="btn btn-success tztitle1" type="button" style="display:none;">测试结果表</button>
                <button type="button" class="btn btn-success" id="sub">提交</button>
                <button type="button" class="btn btn-success" id="save" disabled="disabled">保存</button>
                <button type="button" class="btn btn-success" id="saveas">另存为</button>
                <button type="button" class="btn btn-warning" onclick="preview(1);" id="dayin">打印</button>
            </div>
        </div>
    </div>
</div>
</form>

</body>
</html>
<script type="text/javascript" src="__PUBLIC__/js/tizhi.js"></script>
<script>
    //提交按钮显示
    $("#luru").click(function(){
        $(".tztitle1").hide();
        $("#sub").show();
    })
    //测试结果表按钮显示
    $("#checkRes").click(function(){
        $(".tztitle1").show();
        $("#sub").hide();
    })
    $(".ti-content label input").click(function(){
        $flag=0;
        $("#flag").html(0);
        $.ajax({
            url:"{:U('Index/tizhiCheckedAjax')}",
            type:"post",
            dataType:"json",
            data:{'flag':$flag},
            success:function(data){
                /**
                 * session中存在患者数据可以进行答题，否则进行登记
                 */
                if(data==22){
                    layer.confirm('请您先登记，再进行答题！', {
                        icon: 7, title:'提示'
                    }, function(index){
                        location.href="{:U('Index/dengji')}";
                        layer.close(index);
                    },function(index){
                        location.href="{:U('Index/dengji')}";
                        layer.close(index);
                    });
                }
            }
        })
    })
    $("#sub").click(function(){
        if($("#dati").html()==0){
            if(num>32){
                $("#form1").submit();
            }else{
                layer.alert("您没有答完题或者没有对答题记录进行修改，请勿重复提交！",{icon:7});
            }
        }else{
            $("#form1").submit();
        }
    })
//    数据保存
    $("#save").click(function(){
        var save=$("#saveYN").html();
        if(save==1){
            layer.confirm('您的答题记录已存在，是否要进行覆盖？', {
                icon: 7, title:'提示'
            }, function(index){
                location.href="{:U('Index/tizhiSave')}";
                layer.close(index);
            });
        }else{
            location.href="{:U('Index/tizhiSave')}";
        }
    })
//    文件另存为
    $("#saveas").click(function(){
        location.href="{:U('Index/saveAsTizhi')}";
    })
$(document).on("ready mouseover",function(){
    $flag1=$("#flag").html();
    if($flag1==1){
        $("#save").removeAttr("disabled");
    }else{
        $("#save").attr("disabled","disabled");
    }
})
//字符串截取
$(document).ready(function(){
    $("img").each(function(){
        var name=$(this).attr("src").substring(32);
        $(this).attr("src","__PUBLIC__"+name);
    })
})
//防止拖拽
$(".sty1").on("copy cut paste dragstart dragenter",function(e){
                    return false;
                });
$(".sty2").on("copy cut paste dragstart dragenter",function(e){
                    return false;
                });
</script>
<!-- 防止拖拽 -->
    <script type="text/javascript" src="__PUBLIC__/js/zuzhituoz.js"></script>