<include file="Layout/header"/>
</head>
<body>
<article class="page-container">
    <form action="{:U('Admin/AuthGroup/edit')}" method="post" class="form form-horizontal" id="form-admin-role-add">
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>角色名称：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="hidden" value="{$info.id}" name="id" />
                <input type="text" class="input-text" value="{$info.title}" placeholder="" id="roleName" name="title" datatype="*4-16" nullmsg="用户账户不能为空">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">备注：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="{$info.details}" placeholder="" id="" name="details">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">选择权限：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <volist name="rule" id="vo">
                    <dl class="permission-list">
                        <dt>
                            <label>
                                <input type="checkbox" value="{$vo.id}" name="rules[]" id="user-Character-1"
                                <in name="vo.id" value="$info.rules">
                                    checked</in>>
                                {$vo.title}</label>
                        </dt>
                        <dd>
                            <dl class="cl permission-list2">
                                <volist name="vo['child']" id="data">
                                    <dt>
                                        <label class="">
                                            <input type="checkbox" value="{$data.id}" name="rules[]"
                                                   id="user-Character-1-0" <in name="data.id" value="$info.rules">
                                        checked</in>>
                                        {$data.title}</label>
                                    </dt>
                                </volist>
                            </dl>
                        </dd>
                    </dl>
                </volist>
            </div>
        </div>
        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                <button  class="btn btn-primary radius" type="submit"><i class="Hui-iconfont">&#xe632;</i> 保存</button>
                <button onClick="layer_close();" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
            </div>
        </div>
    </form>
</article>
<include file="Layout/footer"/>

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript">
    $(".permission-list dt input:checkbox").click(function(){
        $(this).closest("dl").find("dd input:checkbox").prop("checked",$(this).prop("checked"));
    });
    $(".permission-list2 dt input:checkbox").click(function(){
        var l =$(this).parent().parent().find("input:checked").length;
        var l2=$(this).parents(".permission-list").find(".permission-list2 dt").find("input:checked").length;
        if($(this).prop("checked")){
            $(this).closest("dl").find("dt input:checkbox").prop("checked",true);
            $(this).parents(".permission-list").find("dt").first().find("input:checkbox").prop("checked",true);
        }
        else{
            if(l==0){
                $(this).closest("dl").find("dt input:checkbox").prop("checked",false);
            }
            if(l2==0){
                $(this).parents(".permission-list").find("dt").first().find("input:checkbox").prop("checked",false);
            }
        }
    });
</script>