<extend name="Layout/main"/>

<block name="main">
    <div class="page-container">
        <div class="text-c">
            <form action="{:U('Admin/TabooYunfu/index')}" method="get">
                <input placeholder="请输入药品" name="name" value="" id="ypName" style="width:250px" class="input-text" type="text">
                <button class="btn btn-success" type="submit">
                    <i class="Hui-iconfont">&#xe665;</i>查询
                </button>
                <!--隐藏的查询框-->
                <div id="cxHid3">
                    <table width="100%">
                        <thead>
                        <tr>
                            <th>药品名称</th>
                            <th>拼音码</th>
                            <th>药品代码</th>
                        </tr>
                        </thead>
                        <tbody id="tbody3">

                        </tbody>
                    </table>
                </div>
            </form>
        </div>
        <div class="cl pd-5 bg-1 bk-gray mt-20">
            <span class="l">
                <a class="btn btn-primary radius"
                   onclick="admin_add('孕妇禁忌添加','{:U('Admin/TabooYunfu/add')}','800','300')"
                   href="javascript:;">
                    <i class="Hui-iconfont"></i> 添加孕妇禁忌
                </a>
            </span>
            <span class="r">共有数据：<strong id="strong">{$yfList.count}</strong> 条</span>
        </div>
        <div class="mt-20">
            <table class="table table-border table-bordered table-bg">
                <thead>
                <tr class="text-c">
                    <th>药品名称</th>
                    <th>禁忌说明</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <volist name="yfList.list" id="vo">
                    <tr class="text-c">
                        <td>{$vo.xxmc}</td>
                        <td>{$vo.bz}</td>
                        <td>
                            <a href="javascript:;"
                               onclick="admin_add('编辑详情','{:U('Admin/TabooYunfu/edit', array('id' => $vo['id']))}' ,'800','300')">
                                <i class="Hui-iconfont">&#xe6df;</i>
                            </a>&nbsp;&nbsp;&nbsp;&nbsp;
                            <a class="h-text-sc" id="{$vo.id}"><i class="Hui-iconfont">&#xe6e2;</i></a>
                        </td>
                    </tr>
                </volist>
                </tbody>
            </table>
        </div>
    </div>
    <div class="result page">
        <div class="pages">
            {$yfList.page}
        </div>
    </div>
    <script type="text/javascript">
        /*删除*/
        $(document).on("click", '.h-text-sc', function () {
            var op_obj = $(this).parents("tr");
            var id = $(this).attr('id');
            layer.confirm('确认要删除吗？',function(){
                $.ajax({
                    type:'POST',
                    dataType: 'json',
                    url:'{:U("Admin/TabooYunfu/delete")}',
                    data:{id:id},
                    success: function (result) {
                        if (result.status) {
                            op_obj.remove();
                            layer.msg(result.msg,{icon:1,time:1000});
                        } else {
                            layer.msg(result.msg,{icon:0,time:2000});
                        }
                    }
                })
            });
        });
        //ajax查询
        $(document).on('input','#ypName',function(){
            $("#cxHid3").show(function(){});
            var val=$(this).val();
            var str="";
            $.ajax({
                url:"{:U('Admin/TabooYunfu/selectAjax')}",
                type:"post",
                data:{'value':val},
                dataType:"json",
                success:function(data){
                    $.each(data,function(index,item){
                        str += '<tr class="sty1" name="tableSty"><td>'+item.drug_name+'</td><td>'+item.input_code+'</td><td>'+item.drug_code+'</td></tr>';
                    })
                    $("#tbody3").html(str);
                }
            })
        })
        //选中变色并且弹框隐藏
        $(document).on("click",".sty1",function(){
            var tsty1=document.getElementsByName("tableSty");
            for(var i=0;i<tsty1.length;i++){
                tsty1[i].className="sty1";
            }
            $(this).attr("class","sty2");
            var name=$(".sty2 td:eq(0)").html();

            $("#ypName").val(name);
            $("#cxHid3").hide(function(){});
        });
        //弹框隐藏
        $(document).click(function(){
            $("#cxHid3").hide(function(){});
        })
    </script>
</block>