    	ol li {list-style:inherit;}
		ul>li{list-style-image:url("list-style1.png"); list-style-type:square;}
		ul>li li{list-style-image:url("list-style2.png"); list-style-type:square;}
		ul>li li li{list-style-image:url("list-style3.png"); list-style-type:square;}

		.hljs{background: #f5f5f9;padding: 10px;font-size: 12px;letter-spacing: 0;
			font-family: monospace, "Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,"Microsoft YaHei","Î¢ÈíÑÅºÚ",SimSun,"ËÎÌå",sans-serif;}

		img{max-width: 800px;}
		span img{height: 100%;width:auto;vertical-align: middle;margin:0;border:none;}

		#content{
			display: block;position:absolute;left:50%;
			top:70px;margin-left:-300px;padding-bottom:100px;width:850px;
			font-size: 14px;line-height: 24px;
		}
		#content h1, #md-editor h1{margin:20px auto;color:#333;background: #fff;line-height: 40px;height:50px;font-size: 28px;border-bottom:1px solid #ddd;}
		#content h2, #md-editor h2{color:#3dafcc;font-size: 22px;margin-top: 30px;}
		#content h3, #md-editor h3{font-size: 18px;margin-top:20px; font-weight:bold;}
		#content h4, #md-editor h4{margin-top:15px;}
		#content a, #md-editor a{color: #659AD0;}
		#content p, #md-editor p{line-height: 30px;font-size: 14px;text-indent: 2em;}
		#content ul, #content ol, #md-editor ul, #md-editor ol{margin:8px 8px;font-size: 14px;}
		#content ul li, #content ol li, #md-editor ul li, #md-editor ol li{margin-left: 1em;}
		#content table, #md-editor table{max-width:800px;border-spacing: 0;border-color: #eee;font-size: 13px;margin:10px 2em;}
		#content table th, #content table td, #md-editor table th, #md-editor table td{padding: 4px 8px;overflow: hidden;word-break: break-word;min-width: 3em;}
		#content pre, #md-editor pre{position: relative;width: auto;}
		#content pre .u-copy-btn, #md-editor pre .u-copy-btn{position:absolute;min-width:20px;line-height:20px;height: 20px;top:20px;right: 18px;color: #bf3907;font-size: 12px;/*background-image: url("i/copy-btn.png");*/z-index: 1;cursor: pointer;text-shadow: 1px 1px 2px #fff}
		#content pre .u-copy-btn:hover, #md-editor pre .u-copy-btn:hover {color:#932c06;}
		#content pre code, #md-editor pre code{padding:15px 35px 15px 15px;width:92%;max-width:800px;background:#f5f5ff;border:1px solid #DCDCEA;border-radius: 5px;}
		

		#catalogue{
			display: block;position: fixed;
			width: 250px;bottom:1px;left:50%;
			margin-left:-600px;top:64px;
			background:#fff;z-index: 1
		}
		

		#catalogue.u-fixed {position:fixed;top:30px;}
		

		#catalogue.u-absolute {position:absolute;height:auto;bottom:-80px;}

		#catalogue #toctitle{margin: 0;padding: 15px 0 0 15px;}
		#toctitle{display: none;}
		#toctitle h1{line-height: 30px;border:none;height:30px;/*margin:15px 0 0 15px;*/background-color: #fff;text-align: left;font-size: 20px;}
		#catalogue #toctoggle{position: absolute;left:160px;top:16px;font-size: 13px;color: #aaf;cursor: pointer;display: none;}
		
		#toccnt{
			position: absolute; top: 0px; bottom: 0; left: 0; right: 0; 
			overflow-y: auto; color: #666; background-color: #f7f7f7;
		}
		
		#toccnt ul{width:99%;margin: 0;padding: 0;word-break:break-all;border:1px solid #e6e6e6;}
		
		#toccnt li{margin:0;/*min-height:40px;*/list-style: none;border-bottom: 1px solid #e6e6e6;padding-left: 10%;width: 90%;background-color: #f7f7f7;line-height: 3/*&:hover{color:$color_blue_0;}*/}
		
		#toccnt li.f-hsel {color:#238efa;}
		
		#toccnt li.f-sel {color:#238efa;}
		
		#toccnt .toc-cnt-list li{width:85%;min-height:30px;padding-left:15%;background-color: #ebebeb;border-bottom: 1px solid #fff;}
		
		#toccnt .toc-cnt-list h3{font-size: 13px;text-overflow: ellipsis;overflow: hidden;white-space:nowrap;}
		
		#toccnt h2{display: inline-block;font-size: 16px;line-height: 3;margin:0;padding:0;cursor: pointer;}
		
		#toccnt h3{margin:0;padding:0;cursor: pointer;margin-left:10px;font-size: 15px;line-height: 3;}
		
		#toccnt .f-toggle{display: inline-block;width:15px;height:15px;margin:10px 15px;vertical-align: middle;cursor:pointer;float: right;}
		#toccnt .f-toggle.f-toggle-plus{background-image: url(list-add-black.png);}
		#toccnt .f-toggle.f-toggle-minus{background-image: url(list-minus-black.png);}

		#toccnt .f-hsel .f-toggle.f-toggle-plus{background-image: url(list-add-blue.png);}
		#toccnt .f-hsel .f-toggle.f-toggle-minus{background-image: url(list-minus-blue.png);}

		@media screen and (max-width: 1200px) {
			#catalogue{left:0;margin-left:0;}
			#content{left:300px;margin-left:0;}
			}	