<extend name="Layout/main"/>

<block name="main">
    <!-- 分页效果 -->
    <link href="__PUBLIC__/css/mypage.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="__PUBLIC__/muban/assets/js/jquery.js"></script>
    <script type="text/javascript" src="__PUBLIC__/muban/assets/js/bootstrap.js"></script>
    <!-- 分页结束 -->
    <div class="page-container">
        <div class="text-c">
           <form action="{:U('Admin/Xiyao/index')}" method="get">
                <input placeholder="药品名称" name="drug_name" value="{$param['drug_name']}" style="width:250px" class="input-text" type="text">
                <button class="btn btn-success" type="submit">
                    <i class="Hui-iconfont">&#xe665;</i>搜索
                </button>
            </form>
        </div>
        <div class="cl pd-5 bg-1 bk-gray mt-20"> <span class="l">
            <a href="javascript:;" onclick="admin_add('添加西成药','{:U('Admin/Xiyao/add')}','800','500')"
               class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i> 添加西成药</a></span>
            <span class="r">共有数据：<strong>{$info.count}</strong> 条</span>  </div>
        <div class="mt-20">
        <table class="table table-border table-bordered table-bg">
            <thead>
            <tr class="text-c">
                <th><input type="checkbox" name="" value=""></th>
                <th>输入码</th>
                <th>药品名称</th>
                <th>销售规格</th>
                <th>剂型</th>
                <th>类别</th>
                <th>含量</th>
                <th>含量单位</th>
                <th>包装单位</th>
                <th>零售价</th>
                <th>备注</th>
                <th>药品代码</th>
                <th>启用标志</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
                <volist name="info.list" id="item">
                    <tr class="text-c">
                        <td><input type="checkbox" value="1" name=""></td>
                        <td>{$item.input_code}</td>
                        <td>{$item.drug_name}</td>
                        <td>{$item.package_units}</td>
                        <td>{$item.drug_form|getjixingNameByCode=###}</td>
                        <if condition="$item.drug_indicator eq '1'">
                        <td>西药</td>
                        <else />
                        <td>中成药</td>
                        </if>
                        <td>{$item.hl}</td>
                        <td>{$item.hl_unit|gethangliangNameByCode=###}</td>
                        <td>{$item.bzdw1|gethangliangNameByCode=###}</td>
                        <td>{$item.price}</td>
                        <td>{$item.memos}</td>
                        <td>{$item.drug_code}</td>
                        <if condition="$item.enable_flag eq '1'">
                        <td>停用</td>
                        <else />
                        <td>启用</td>
                        </if>
                        
                        <td class="td-manage">
                            <a href="javascript:;"
                               onclick="admin_add('编辑详情','{:U('Admin/Xiyao/edit', array('id' => $item['drug_code']))}'
                               ,'800','500')">
                                <i class="Hui-iconfont">&#xe6df;</i>
                            </a>&nbsp;&nbsp;&nbsp;&nbsp;
                            <a class="h-text-sc" id="{$item.drug_code}"><i class="Hui-iconfont">&#xe6e2;</i></a>
                        </td>
                    </tr>
                </volist>
            </tbody>
        </table>
        </div>
    </div>
    <!-- 分页效果 -->
    <div class="result page">
        <div class="pages">
            {$info.page}
        </div>
    </div>
    <script type="text/javascript">
        /*删除*/
        $(document).on("click", '.h-text-sc', function () {
            var op_obj = $(this).parents("tr");
            var id = $(this).attr('id');
            // alert(id);
            layer.confirm('确认要删除吗？',function(){
                $.ajax({
                    type:'POST',
                    dataType: 'json',
                    url:'{:U("Admin/Xiyao/delete")}',
                    data:{id:id},
                    success: function (result) {
                        if (result.status) {
                            op_obj.remove();
                            layer.msg(result.msg,{icon:1,time:1000});
                        } else {
                            layer.msg(result.msg,{icon:0,time:2000});
                        }
                    }
                })
            });
        });
    </script>
</block>