<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>top</title>
	<link rel="stylesheet" href="__PUBLIC__/muban/assets/css/bootstrap.css">
    <script type="text/javascript" src="__PUBLIC__/muban/assets/js/jquery.js"></script>
    <script type="text/javascript" src="__PUBLIC__/muban/assets/js/bootstrap.js"></script>
	<style>
		html,body{
			background:#e1e1e1;height:45px;overflow:hidden;
		}
		span{
			margin-left:8px;line-height:45px;
			font-size:15px;font-weight:bold;
		}
	</style>
</head>
<script>
	document.oncontextmenu=new Function("event.returnValue=false;");
</script>
<body>
	<div>
		<span class="glyphicon glyphicon-folder-open"></span>
		<span>我的文档</span>
	</div>
</body>
<!-- 防止拖拽 -->
    <script type="text/javascript" src="__PUBLIC__/js/zuzhituoz.js"></script>
</html>