<extend name="Layout/main"/>

<block name="main">
    <div class="page-container">
        <div class="text-c">
            <form action="{:U('Admin/About/index')}" method="get">
                <input placeholder="医疗机构" name="name" value="{$param['name']}" style="width:250px" class="input-text" type="text">
                <button class="btn btn-success" type="submit">
                    <i class="Hui-iconfont">&#xe665;</i>搜索
                </button>
            </form>
        </div>
        <div class="cl pd-5 bg-1 bk-gray mt-20">
            <span class="l">
                <a class="btn btn-primary radius"
                   onclick="admin_add('机构添加','{:U('Admin/About/add')}','800','500')"
                   href="javascript:;">
                    <i class="Hui-iconfont"></i> 添加医疗机构
                </a>
            </span>
            <span class="r">共有数据：<strong>{$list.total}</strong> 条</span>
        </div>
        <div class="mt-20">
            <table class="table table-border table-bordered table-bg">
                <thead>
                <tr class="text-c">
                    <th>ID</th>
                    <th>机构名称</th>
                    <th>机构编码</th>
                    <th>机构地址</th>
                    <th>联系方式</th>
                    <th>创建时间</th>
                    <th>上级机构</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <volist name="list.list" id="item">
                    <tr class="text-c">
                        <td>{$item.id}</td>
                        <td>{$item.hospital}</td>
                        <td>{$item.hosp_code}</td>
                        <td>{$item.address}</td>
                        <td>{$item.phone}</td>
                        <td>{$item.reg_date}</td>
                        <td>{$item.pid|getHospNameByPid=###}</td>
                        <td>
                            <a href="javascript:;"
                               onclick="admin_add('编辑详情','{:U('Admin/About/edit', array('id' => $item['id']))}'
                               ,'800','500')">
                                <i class="Hui-iconfont">&#xe6df;</i>
                            </a>&nbsp;&nbsp;&nbsp;&nbsp;
                            <a class="h-text-sc" id="{$item.id}"><i class="Hui-iconfont">&#xe6e2;</i></a>
                        </td>
                    </tr>
                </volist>
                </tbody>
            </table>
        </div>
    </div>
    {$list.page}
    <script type="text/javascript">
        /*删除*/
        $(document).on("click", '.h-text-sc', function () {
            var op_obj = $(this).parents("tr");
            var id = $(this).attr('id');
            layer.confirm('确认要删除吗？',function(){
                $.ajax({
                    type:'POST',
                    dataType: 'json',
                    url:'{:U("Admin/About/delete")}',
                    data:{id:id},
                    success: function (result) {
                        if (result.status) {
                            op_obj.remove();
                            layer.msg(result.msg,{icon:1,time:1000});
                        } else {
                            layer.msg(result.msg,{icon:0,time:2000});
                        }
                    }
                })
            });
        });
    </script>
</block>